.container {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f7b7d3;
}

#initialContainer {
    background-color: #333333;
    padding: 14px;
}

#startContainer {
    background-color: #333333;
    padding: 14px;
}

#savedScores {
    background-color: #333333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 24px;
    text-align: center;
}

#counters {
    background-color: lightgrey;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 14px;
    border-radius: 0px;
    border-style: solid;
    border-color: #f7b7d3;
    text-align: left;
    color: #333333;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

#questionContainer {
    background-color: #333333;
    padding: 14px;
    text-align: center;
}

#question {
    color: #f7b7d3;
    text-align: inherit;
    padding-bottom: inherit;
    text-align: center;
}

#answers {
    color: #f7b7d3;
    text-align: center;
}

#startButton {
    color: #f7b7d3;
    background-color: #333333;
    border-width: thick;
    border: #f7b7d3;
    border-radius: 0px;
    border-style: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 48%;
}

#submitButton {
    color: #f7b7d3;
    background-color: #333333;
    border-width: thick;
    border: #f7b7d3;
    border-radius: 0px;
    border-style: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.card-header {
    background-color: #333333;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 14px;
    border-radius: 0px;
    border-style: solid;
    border-color: #f7b7d3;
    border-radius: 0px;
    color: #f7b7d3;
}

#result {
    padding-top: 10px;
    font-size: inherit;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#footer {
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-top: 14px;
    border-radius: 0px;
    border-style: solid;
    border-color: #f7b7d3;
    text-align: center;
    padding-top: 14px;
    color: #333333;
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

#QC {
    color: #333333;
    padding-bottom: inherit;
    text-align: center;
    font-size: 13px;
}

#initialsInput {
    color: #f7b7d3;
    background-color: whitesmoke;
    border-width: thick;
    border: #f7b7d3;
    border-radius: 0px;
    border-style: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.initialsHeader {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }