.container {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightcoral;
    background-color: lightskyblue;
    border-width: thick;
    border: pink;
    border-radius: inherit;
    border-style: solid;
}

#question-counter {
    text-align: right;
}

#title-question-answer {
    text-align: center;
}

#time-counter {
    text-align: right;
    color: darkslategrey;
    font-style: oblique;
}

#score-counter {
    text-align: right;
    color: darkslategrey;
    font-style: oblique;
}

#question {
    color: lightcoral;
    text-align: inherit;
    padding-bottom: inherit;
}

.btn {
    color: salmon;
    background-color: whitesmoke;
    border-width: thick;
    border: pink;
    border-radius: inherit;
    border-style: solid;
}

.header {
    color: lightcoral;
}

.card-header {
    background-color: lightgray;
    border-width: thick;
    border: pink;
    border-radius: inherit;
    border-style: solid;
}

#counters {
    background-color: lightskyblue;
    border-width: thick;
    border: pink;
    border-radius: inherit;
    border-style: solid;
}

#result {
    padding-top: 10px;
}

#question-counter {
    font-style: oblique;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    border-width: thick;
    border: pink;
    border-radius: inherit;
    border-style: solid;
    text-align: inherit;
    padding-top: 10px;
    color: darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }